@import "reset.css";
.box .logo {
  height: 80px;
  line-height: 80px;
  font-size: 28px;
  background-color: #ea967a;
  color: #fff;
  padding-left: 50px;
}
.box .mess {
  padding-top: 32px;
  padding-left: 30px;
}
.box .mess .mess-title {
  font-size: 19px;
  height: 19px;
  line-height: 19px;
  margin-bottom: 33px;
}
.box .mess form ul li {
  display: flex;
  margin-bottom: 30px;
}
.box .mess form ul li .form-title {
  min-width: 89px;
  height: 30px;
  line-height: 30px;
}
.box .mess form ul li .form-title i {
  color: #ee2d2d;
  float: left;
}
.box .mess form ul li .form-title span {
  font-size: 16px;
  float: left;
  margin-left: 5px;
}
.box .mess form ul li .form-input {
  padding-left: 21px;
  flex-grow: 1;
}
.box .mess form ul li .form-input input {
  outline: none;
  height: 30px;
  border: 1px solid#cccccc;
  width: 58%;
  padding-left: 19px;
  box-sizing: border-box;
}
.box .mess form ul li .form-input textarea {
  outline: none;
  width: 97%;
  height: 200px;
}
.box .mess form ul li .list {
  display: flex;
  padding-left: 21px;
}
.box .mess form ul li .list span {
  margin-right: 5px;
  padding: 7px 10px;
  border: 1px solid#cccccc;
}
.box .mess form ul li .list span input {
  float: left;
  width: 17px;
  height: 17px;
}
.box .mess form ul li .list span i {
  float: left;
  font-size: 14px;
  padding-left: 5px;
}
.box .mess form ul li .list span:last-child {
  color: #fff;
  border-color: royalblue;
  background-color: royalblue;
  margin-left: 10px;
}
.box .mess form ul li .price {
  width: 33.333333%;
}
.box .mess form ul li .price input {
  outline: none;
  width: 30%;
  height: 26px;
  border: 1px solid #cccccc;
}
.box .mess form ul li .whether {
  display: flex;
  height: 30px;
  align-items: center;
}
.box .mess form ul li .whether span {
  margin-right: 39px;
}
.box .mess form ul li .whether span input {
  float: left;
  width: 17px;
  height: 17px;
}
.box .mess form ul li .whether span i {
  float: left;
  font-size: 14px;
  padding-left: 5px;
}
.box .mess .submit {
  display: flex;
  justify-content: center;
}
.box .mess .submit button:nth-of-type(2) {
  margin: 0px 40px;
}
.box .mess .submit button:nth-of-type(1) {
  outline: none;
  border: none;
  width: 80px;
  height: 30px;
  color: #fff;
  background: #4487b2;
}
.box .mess .submit button:nth-of-type(2) {
  outline: none;
  border: none;
  width: 68px;
  height: 30px;
  color: #fff;
  background: #e5987c;
}
.box .mess .submit button:nth-of-type(3) {
  outline: none;
  border: none;
  width: 68px;
  height: 30px;
  color: #fff;
  background: #bababa;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .box .mess form ul li {
    flex-wrap: wrap;
  }
  .box .mess form ul li .form-input {
    width: 100%;
    padding-left: 0px;
  }
  .box .mess form ul li .form-input input {
    width: 90%;
  }
  .box .mess form ul li .form-input span {
    display: block;
    width: 100%;
  }
  .box .mess form ul li .whether {
    width: 100%;
  }
  .box .mess form ul li .price {
    width: 100%;
  }
  .box .mess form ul li .price input {
    width: 84%;
  }
  .box .mess form ul li .list {
    width: 100%;
    padding-left: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .box .mess form ul li .list span {
    width: 44%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .box .mess form ul li .list span:last-child {
    color: #fff;
    border-color: royalblue;
    background-color: royalblue;
    width: 70px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .box {
    min-width: 275px;
  }
  .box .mess form ul li {
    flex-wrap: wrap;
  }
  .box .mess form ul li .form-input {
    width: 100%;
    padding-left: 0px;
  }
  .box .mess form ul li .form-input input {
    width: 90%;
  }
  .box .mess form ul li .form-input span {
    display: block;
    width: 100%;
  }
  .box .mess form ul li .form-input textarea {
    width: 88%;
  }
  .box .mess form ul li .whether {
    width: 100%;
  }
  .box .mess form ul li .price {
    width: 100%;
  }
  .box .mess form ul li .price input {
    width: 84%;
  }
  .box .mess form ul li .list {
    width: 100%;
    padding-left: 0px;
    flex-wrap: wrap;
  }
  .box .mess form ul li .list span {
    width: 44%;
    margin-right: 4px;
    margin-bottom: 10px;
    min-width: 118px;
  }
  .box .mess form ul li .list span:last-child {
    color: #fff;
    border-color: royalblue;
    background-color: royalblue;
    width: 70px;
    margin-left: 0px;
  }
}
